<!doctype html>
<html>
<head>
<title>udayv . soundc</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='shadowbox/shadowbox.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='shadowbox/shadowbox.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
{% block head %}
{% endblock %}
</head>
<body>
<div id="page">
	<div id="header">
		<a id="rss" a="#" alt="Subscribe to RSS feed"></a>
		<a id="contact" a="#" alt="Contact me"></a>
		<a id="twitter" a="#" alt="Follow me on twitter"></a>
		<h1>udayv . soundc</h1>
		<h4>Electronic Music, Programming</h4>
	</div>
	<ul id="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/work">Work</a></li>
		<li><a href="/music">Music</a></li>
		<li><a href="/suvan">Suvan</a></li>
		<li><a href="/about">About</a></li>
	</ul>
	<div id="content">
		{% block body %}
		<p>This page is presently under construction.</p>
		{% endblock %}
	</div>
	<div id="footer">
		All content &copy; Uday K Verma.  Some artwork picked up from the public domain.
	</div>
</div>
</body>
</html>
