{% extends "base.html" %}

{% block body %}
<div class="post">
	<h3>Blog under construction</h3>
	<div class="post-content">
		<p>I will probably get my wordpress blog content here as soon as I figure out the most convenient way of doing so.  In the mean time you may want to visit <a href="/suvan">Suvan's Page</a> and check out his recent pictures.</p>
<p>The <a href="/music">Music</a> page is somewhat functional.  You may also want to visit my <a href="http://www.soundc.de">Original Blog</a>.
	</div>
</div>
{% endblock %}
