{% extends "base.html" %}

{% block body %}
<div class="post">
	<h3>Site Code</h3>
	<div class="post-content">
        <p>
        <a target="_blank" href="https://github.com/verma/blog">Blog@Github</a>
        </p>
        <p>
        I am using this repo on <a target="_blank" href="http://www.github.com">github</a> to manage development of
        this site.  The latest code and development progress can be
        watched here.
        </p>
	</div>
</div>
<div class="post">
	<h3>Vim Configuration</h3>
	<div class="post-content">
        <p>
        <a target="_blank" href="https://github.com/verma/vimrc">Vimrc@Github</a>
        </p>
        <p>
        I use <a href="http://www.vim.org" target="_blank">Vim</a> for
        all sorts of things but primarily to write code in C, C++ and
        Python.  This repo holds my current Vim configuration.
        </p>
	</div>
</div>
{% endblock %}
